/* Reset CSS */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.header {
  align-items: center;
  font-size: 30px;
  background-color: #7AC7FF;
  display: flex;
  height: 80px;
  width: auto;
  justify-content: space-between;
}
.name {
  padding-left: 3vw;
  font-size: 30px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.search-box {
  
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(255, 255, 255); 
  border-radius: 35px; 
  padding: 5px;
  width: 20vw; 
  height: 30px; 
  background-color: white;

}

.search-input {
  flex: 1;
  border: none; 
  outline: none; 
  padding: 5px; 
  
}

.search-button {
  background: none;
  border: none;
  width: 25px;
  height: 25px;
  padding: 0;
  cursor: pointer;
}
.search-button img {
  width: 100%;
  height: 100%;
}


.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Hiển thị menu dưới dạng flexbox để dễ quản lý vị trí của các mục */
}

.menu li {
  margin-right: 3vw; /* Khoảng cách giữa các mục menu */
  text-align: center;
}

.menu li:last-child {
  margin-right: 1vw; /* Không có khoảng cách bên phải cho mục cuối cùng */
}

.menu li img {
  width: 24px; /* Điều chỉnh kích thước của hình ảnh */
  height: 24px;
  margin-right: 10px; /* Khoảng cách giữa hình ảnh và văn bản */
}

.menu li h3 {
  margin: 0; /* Loại bỏ khoảng cách mặc định của h3 */
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.center-container {
  width: 95%;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  
}

.list_product {
  flex: 0.25;
  padding: 20px;
  background-color: #a09090;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 30%;
}
.list_product li a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
}

.list_product h3 {
  margin-bottom: 10px;
}

.list_product ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 150px;
}

.list_product li {
  margin-bottom: 8px;
  cursor: pointer;
}

.list_product li:hover {
  text-decoration: underline;
}

.banner_slider {
  flex: 1;
  padding: 20px;
  background-color: #c0c0c0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 27px;
  margin-right: 200px;
  height: 310px;
}
.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  border: 1px solid;
  border-radius: 12px;
}

.product {
  flex: 0.6; /* 33.33% là kích thước 1/3, trừ đi margin */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
}

.product img {
  max-width: 100%;
  border-radius: 4px;
}

.product h4 {
  margin: 10px 0;
}

.product p {
  color: #555;
}


/*footer*/
.footer {
  border-top: 1px solid #ddd;
  background-color: #7AC7FF;
}
.footer .shortcut_menu {
  display: flex;
  justify-content: space-around;
  margin-top: 1vh;
}
.shortcut_submenu_item p {
  width: 400px;
}
.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 5px;
  font-size: 20px;
}

.footer ul li {
  padding: 10;
  margin: 0;
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
input.search-input {
  border-radius: 10px;
}