.main-log {

  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  display: flex;
  margin: 0 35%;
}

.button-log {
  border: none;

  background: #7AC7FF;

  cursor: pointer;

  border-radius: 3px;

  padding: 6px;

  width: 315px;

  color: white;

  margin-left: 50 px;

  margin-top: 20px;

  margin-bottom: 20px;

  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);

}

.input-log {

  border-radius: 3px;

  padding: 6px;

  width: 300px;

  margin-left: 50 px;

  margin-top: 10px;

  margin-bottom: 5px;

}

.boder{
  border: 1px solid;
  margin: 10px;
  padding: 10px;
}